body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #0B0B41;
    
}

canvas {
    border: #DCDCF5 solid 10px;
}

#board {
    background-image : url("img/flappykarpbg.png");
    
    
}